/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.App {
		@apply h-screen w-screen flex flex-col items-center space-y-4 justify-center bg-indigo-300;
	}
	.array-container {
		@apply h-5/6 w-5/6 pt-1 px-2 lg:px-4 rounded shadow-sm grid grid-flow-col bg-indigo-500 gap-1 items-end;
	}
	.array-bar {
		@apply bg-indigo-300 rounded-t-sm;
		.active {
			@apply bg-indigo-600;
		}
	}
	.btn {
		@apply inline-block px-3 py-1 hover:bg-indigo-400 hover:-translate-y-1 focus:outline-none focus:ring active:bg-indigo-900 active:translate-y-1 transform transition rounded-lg shadow-lg bg-indigo-500 text-gray-100;
	}
}
